$max-width: 860px;

$margin-default: 20px;
$margin-big: 40px;

:root {
  color-scheme: light dark;

  --background-color: white;
  --text-color: black;
}

body {
  font-family: system-ui, -apple-system, Arial, sans-serif;
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

nav.general {
  height: 30px;
  background-color: black;

  a {
    display: inline-block;
    padding: 0 10px 0 10px;
    height: 30px;
    color: white;
    text-decoration: none;
  
    img {
      margin-right: 6px;
      height: 22px;
      position: relative;
      top: 4px;
    }

    span {
      position: relative;
      top: -1px;
    }

    &:HOVER {
      background-color: #333;
    }
  }
}

header {
  display: block;
  padding-top: $margin-default;
  padding-bottom: $margin-default;
  margin-bottom: $margin-big;
  text-align:center;
  background-color: $main-color;
  color: white;

  &.cropped-bottom {
    padding-bottom: 0;
    overflow: hidden;

    .showcase {
      margin-bottom: -6px;
    }
  }

  .title {
    padding-bottom: $margin-default;

    .icon,
    h1 {
      display: inline-block;
      margin: 0px;
      padding: 0px;
      vertical-align: top;
      font-weight: normal;
    }

    .icon {
      border-radius: 18px;
      height: 72px;
    }
    
    h1 {
      padding-left: 10px;
      position: relative;
      top: 7px;
      font-size: 3em;
    }
  }

  .showcase {
    width: 90%;
    max-width: $max-width - $margin-big * 2;
  }
}

section.main {
  max-width: $max-width;
  margin: 0 auto 0 auto;

  .tagline {
    font-size: 1.4em;
    font-style: italic;
    line-height: 1.5em;
    text-align: center;
    margin: 0 $margin-default $margin-big $margin-default;
  }

  blockquote {
    text-align: left;
    margin-left: 0;
  }

  .feature {
    position: relative;
    display: inline-block;
    width: 380px;
    vertical-align: top;
    text-align: left;
    margin: 0 $margin-default $margin-default $margin-default;

    h3, p {
      padding: 0 $margin-default 0 $margin-big;
      margin: 0 0 6px 0;
      line-height: 1.45em;
    }

    .bulleticon {
      position: absolute;
      top: -6px;
      left: 0;
      width: 30px;
      height: 30px;
      font-size: 30px;
      font-weight: lighter;
    }
  }

  .download {
    margin-top: $margin-big;
    text-align: center;

    img {
      width: 225px;
      height: 66px;
    }
  }
}

.screenshots {
  text-align: center;
  margin: $margin-big $margin-default 0 $margin-default;

  img {
    padding: $margin-default;
  }
}


footer {
  display: inline-block;
  margin: $margin-big auto $margin-big auto;
  padding: 0 $margin-default;
  color: #888;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.8em;
  
  p {
    a {
      text-decoration: underline;
    }
  }

  a {
    color: #888;
    text-decoration: none;
    
    img {
      margin-right: 10px;
      opacity: 0.35;
      width: 50px;
      text-decoration: none;
    }

    &:HOVER {
      color: #444;
      
      img {
        opacity: 0.6;
      }
    }
  }
  
  img,
  p {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
  } 
}

@media all and (max-width: $max-width) {
  section.main {
    max-width: inherit;

    .feature {
      width: inherit;
      display: block;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
  }

  section.main {
    .feature {
      img {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }
  }

  footer {
    img {
      -webkit-filter: invert(1);
      filter: invert(1);
    }

    a:HOVER {
      color: #bbb;
    }
  }
}
