body {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin: 0px; }

header {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 20px;
  text-align: center;
  color: #5693db; }
  header .icon,
  header h1 {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-weight: normal; }
  header .icon {
    border-radius: 18px;
    height: 72px;
    border: 6px solid #5693db; }
  header h1 {
    padding-left: 10px;
    position: relative;
    top: 10px;
    font-size: 3em; }
  header.insert {
    display: none; }
  header.general {
    background-color: black;
    color: white;
    margin-top: 0;
    padding-top: 0;
    font-size: 0.9em; }
    header.general ul {
      margin: 0;
      list-style: none; }
      header.general ul li {
        display: none; }
        header.general ul li a {
          display: block;
          padding: 6px 17px 6px 17px;
          color: white;
          text-decoration: none;
          vertical-align: top; }
          header.general ul li a span, header.general ul li a img {
            display: inline-block;
            vertical-align: top;
            height: 22px; }
          header.general ul li a span {
            position: relative;
            top: 3px; }
          header.general ul li a img {
            margin-right: 4px;
            border-radius: 4px; }
          header.general ul li a:HOVER {
            background-color: #333; }
        header.general ul li:first-child {
          display: inline-block; }

section#main {
  position: relative;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: #5693db;
  color: white; }

section#screenshots,
section#features {
  position: relative;
  top: -70px; }

section#screenshots {
  background-clip: content-box;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 660px; }
  section#screenshots img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    -webkit-transition: opacity 1s linear;
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s; }

section#features,
section.msg {
  padding: 20px;
  line-height: 1.45em; }

section.msg a {
  color: #5693db; }

section#features h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px; }
section#features ul {
  margin-bottom: 30px;
  list-style: none;
  padding-left: 45px; }
  section#features ul li {
    position: relative;
    margin-bottom: 10px; }
    section#features ul li img {
      position: absolute;
      left: -40px;
      top: 8px;
      width: 28px;
      height: 28px; }
    section#features ul li em {
      font-style: normal;
      margin-bottom: 30px; }
    section#features ul li p {
      max-width: 400px;
      margin: 0px;
      font-size: 0.9em; }
section#features a {
  position: relative;
  top: 30px;
  display: block;
  text-align: center; }

footer {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  color: #888;
  font-size: 0.8em;
  line-height: 1.2em; }
  footer a {
    color: #888;
    text-decoration: none; }
    footer a img {
      opacity: 0.35; }
    footer a:HOVER {
      color: #444; }
      footer a:HOVER img {
        opacity: 0.6; }
  footer img,
  footer p {
    display: inline-block;
    vertical-align: top;
    margin: 0px; }

@media all and (min-width: 700px) {
  header.top {
    display: none; }

  header.insert {
    display: block;
    color: white;
    text-align: left; }
    header.insert .icon {
      border: 0px solid white; }
    header.insert h1 {
      position: relative;
      top: 23px; }

  header.general ul li {
    display: inline-block; }

  section#main {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center; }

  section#screenshots,
  section#features {
    display: inline-block;
    position: relative;
    top: -95px;
    height: 648px;
    vertical-align: middle;
    padding: 0px;
    text-align: left; }

  section#screenshots {
    background-color: transparent;
    width: 395px; }
    section#screenshots img {
      width: 395px; }

  section#features {
    padding-left: 20px;
    top: 23px; }
    section#features h2 {
      text-align: left; }
    section#features a {
      top: 0px;
      left: 0px;
      text-align: left; }

  footer {
    margin-bottom: 40px;
    text-align: center; }

  footer > * {
    text-align: left; } }
@media all and (min-width: 700px) and (max-width: 900px) {
  section#main {
    margin-top: 30px;
    margin-bottom: 0px; }

  section#screenshots {
    top: 40px;
    width: 220px; }
    section#screenshots img {
      width: 220px; }

  section#features {
    top: -17px; }

  section#screenshots,
  section#features {
    height: 570px; } }
